# .NET build output
bin/
obj/

# User-specific files
.vs/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore appsettings.json to avoid sensitive information exposure
appsettings.json
